body {
  text-align: center;
}

.container {
  width: 630px;
  position: relative;
  margin: 0 auto;
}

.btn {
  background-color: transparent;
  position: absolute;
  cursor: pointer;
}

.register {
  left: 50%;
  transform: translateX(-50%);
  top: 740px;

  border-radius: 20px;
  width: 310px;
  height: 62px;
}

.map__small {
  right: 60px;
  top: 1927px;

  border-radius: 20px;
  width: 100px;
  height: 30px;
}
.map__big {
  right: 40px;
  top: 1967px;

  border-radius: 20px;
  width: 550px;
  height: 190px;
}

.mail-left__top {
  left: 115px;
  top: 2392px;

  border-radius: 20px;
  width: 210px;
  height: 62px;
}

.mail-left__bottom {
  left: 115px;
  top: 2473px;

  border-radius: 20px;
  width: 205px;
  height: 62px;
}

.mail-right {
  left: 345px;
  top: 2473px;

  border-radius: 20px;
  width: 200px;
  height: 62px;
}
